<section class="products">
  <div class="container">
    <h2 class="section-title">Наші сумки</h2>

    <ul class="product-grid">
      <li class="product-card">
        <img src="./assets/images/bag1.jpg" alt="Bag" />
        <h3>Canvas Tote</h3>
        <p class="price">650 грн</p>
      </li>

      <li class="product-card">
        <img src="/images/bag2.jpg" alt="Bag" />
        <h3>Eco Shopper</h3>
        <p class="price">720 грн</p>
      </li>

      <li class="product-card">
        <img src="/images/bag3.jpg" alt="Bag" />
        <h3>Urban Eco</h3>
        <p class="price">790 грн</p>
      </li>
    </ul>
  </div>
</section>
