/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero-top.css');
@import url('./hero-promo.css');
@import url('./advantages.css');
@import url('./products.css');
@import url('./gallery.css');
@import url('./reviews.css');
@import url('./cta-form.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
